.App {
  text-align: center;
  z-index: -1;
  display: block;
  top: 50%;
}

.particles-js {
  z-index: 1;
}

.dk {
	height: 300px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: 50px;
	position: absolute;
  	top: 20%;
  	left: 70%;

}

.es {
	height: 300px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: 50px;
	position: absolute;
  	top: 55%;
  	left: 70%;

}

.container {
  display: flex;
  justify-content: center;
  position: center;
}

@font-face {
  font-family: mybirthday;
  src: url(Happy Balloon St.ttf);
}

.header {
	font-family: mybirthday;
	font-size: 50px;
	text-align: center;
	color: #2EFEF7;
}

img {
	z-index: -1;
}

label {
	color: #2EFEF7;
}

h1 {
	color: #2EFEF7;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
